
<div class="row">
	<div class="col-md-4">
		<span style="color:#006EB7">Ürün Modeli:&nbsp;</span>
		<span id="modalNameView">@ViewBag.ProductModelName</span>
	</div>
	<div class="col-md-4">
		<span class="border-left">&nbsp;</span>
		<span style="color:#006EB7">Ürün Kodu:&nbsp;</span>
		<span id="productNoView">@ViewBag.ProductNo</span>
	</div>
	<div class="col-md-4">
		<span class="border-left">&nbsp;</span>
		<span style="color:#006EB7">Ürün Seri No:&nbsp;</span>
		<span id="productSerialNoView">@ViewBag.ProductSerialNo</span>
	</div>
</div>