@{
    ViewData["Title"] = "Home Page";

    
    ViewBag.Module = "Hedefler";
	ViewBag.ActionModule = "";
	ViewBag.ControllerModule = "";

	ViewBag.ActionHome = "Index";
	ViewBag.ControllerHome = "QualityTarget";

	ViewBag.Menu1 = "Kalite";
	ViewBag.ActionMenu1 = "Index";
	ViewBag.ControllerMenu1 = "QualityTarget";

	ViewBag.Menu2 = "";
	ViewBag.ActionMenu2 = "";
	ViewBag.ControllerMenu2 = "";

	ViewBag.Menu3 = "";
	ViewBag.ActionMenu3 = "";
	ViewBag.ControllerMenu3 = "";

	ViewBag.Menu4 = "";
}

<div class="text-center">
    <h1 class="display-4">Kalite Hedefleri</h1>
    <br />
    <br />
    <h5>Yapım Aşamasında</h5>
</div>