@{
    ViewData["Title"] = "Home Page";

    ViewBag.Module = "Kalite";
	ViewBag.ActionModule = "AllRecords";
	ViewBag.ControllerModule = "FinalQuality";

	ViewBag.ActionHome = "AllRecords";
	ViewBag.ControllerHome = "FinalQuality";

	ViewBag.Menu1 = "Giriş Kalite";
	ViewBag.ActionMenu1 = "Index";
	ViewBag.ControllerMenu1 = "InputQuality";

	ViewBag.Menu2 = "Süreç Kalite";
	ViewBag.ActionMenu2 = "Index";
	ViewBag.ControllerMenu2 = "ProcessQuality";

	ViewBag.Menu3 = "Final Kalite";
	ViewBag.ActionMenu3 = "AllRecords";
	ViewBag.ControllerMenu3 = "FinalQuality";

	ViewBag.Menu4 = "";
}

<div class="text-center">
    <h1 class="display-4">Süreç Kalite Yönetimi</h1>
    <br />
    <br />
    <h5>Yapım Aşamasında</h5>
</div>